$header-color: #d9578d;

h1 {
  // The title is long, so reduce font size a little bit
  font-size: 1.65em;
}

// Comment
h2 {
  margin-top: 2em;
  padding: 0;
  font-size: 1.2em;
  font-weight: bold;
  color: $header-color;
}

p {
  margin-top: 1em;
}
