<h1 i18n="Title of the home page@@home/home.title">Help Igor in his <strong>next adventures!</strong></h1>

<p i18n="Introduction of Eternalfest on the homepage@@home/intro"><strong>Eternalfest</strong> is a website that picks up the torch of Motion-Twin's platforming game <a href="http://www.hammerfest.fr/"><strong>Hammerfest</strong></a>. This is a fan-made project created by Demurgos, Moulins, Maxdefolsch and a dozen other players; although it is an unofficial project, Motion-Twin approved the use of their game for non-commercial purposes, and their own websites point to players towards the <a href="https://www.eternaltwin.org/"><strong>Eternaltwin</strong></a> platform, which gathers community efforts to preserve their web games.</p>

<h2 i18n="Title of the section explaining that you can keep playing Hammerfest (on the homepage)@@home/hammerfest.title">Hammerfest continues</h2>

<p i18n="Explanation that you can keep playing Hammerfest (on the homepage)@@home/hammerfest">
  On November 2, 2023, after more than 17 years, the official Hammerfest website (as well as all the other old Motion-Twin games) closed its doors. But don't panic, you'll still be able to continue your progress as if nothing had happened on Eternalfest! The original game is available there, complete with its fridge and quests system. If you were able to archive your Hammerfest account and link it to your Eternaltwin account using our tools before the end of the game, you can simply keep playing on our website. For the latecomers, we still saved the public profiles of every player; it is therefore possible to partially reconstruct a "minimal fridge", and as long as you remember your username, we can assign to you your Hammerfest account manually instead of forcing you to start again from scratch.
</p>

<h2 i18n="Title of the section describing the new content (on the homepage)@@home/newContent.title">New content</h2>

<p i18n="Description of the new content (on the homepage)@@home/newContent">
  Despite the strong demand for new content, Hammerfest got its last official levels in 2007, adding up to a bit over 300 levels. A number now dwarved by <strong>Eternalfest</strong>: over 70 lands and 5000 new levels created by us, new enemies, new items, new game modes, and even mods and completely novel mechanics... Our only limit is that of our imagination! Take a look at our <a href="https://www.youtube.com/watch?v=iaI7s7-MPZg"><strong>official trailer</strong></a> for a preview of how far we pushed the boundaries of the original Hammerfest!
</p>

<h2 i18n="Title of the section explaining what is planned@@home/next.title">Next steps</h2>

<p i18n="Section describing the planned next steps@@home/next">
  This project is still at an early stage. Our plans for the future are to improve interfaces for quests, items and rankings, provide a public level editor, and create even more content.
</p>

<h2 i18n="Title of the section how to learn more about Eternalfest@@home/learnMore.title">Learn more</h2>

<p i18n="Explanation about where to learn more about Eternalfest@@home/learnMore">
  If you want to chat with us, <a href="https://discord.gg/VTBjxn7">join the Hammerfest Discord server</a>. You can also check <a href="https://www.youtube.com/user/eternalfest">our YouTube channel</a>.
</p>
