<nav>
  <a routerLink="/projects" title="Projects" i18n-title="Title of the main navigation link to projects@@app.projects.link" i18n="Link label for the navigation to the project list@@app.projects">Projects</a>
  <button i18n="Main level editor button|Level editor name@@app.editor" (click)="openLevelEditor()">Level Editor</button>
</nav>
<router-outlet></router-outlet>
