@use "dimensions";

ef-app {
  flex: 1;
}

.content {
  position: relative;
  flex: 1;
  width: dimensions.$site-width;
  margin: auto;
  min-height: 400px;
  padding-top: 8px;
  padding-left: 74px;
  padding-right: 25px;
  padding-bottom: 1px;
}

footer {
  height: 257px;
  position: relative;

  & > div {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  .wrapper {
    margin: auto;
    margin-top: 50px;
    width: dimensions.$site-width;
    text-align: center;
  }

  .languages {
    margin-top: 70px;
  }

  .flag {
    display: inline-block;
    margin: 10px;
  }

  .flag a {
    color: transparent;
    display: inline-block;
    width: 16px;
    height: 11px;

    &[lang=de-DE] {
      background-image: url("../../static/assets/flags/de.x16.png");
      background-repeat: no-repeat;
    }

    &[lang=en-US] {
      background-image: url("../../static/assets/flags/en.x16.png");
      background-repeat: no-repeat;
    }

    &[lang=es-SP] {
      background-image: url("../../static/assets/flags/es.x16.png");
      background-repeat: no-repeat;
    }

    &[lang=fr-FR] {
      background-image: url("../../static/assets/flags/fr.x16.png");
      background-repeat: no-repeat;
    }
  }

  .recommendations {
    margin-top: 10px;

    a {
      text-shadow: 0 0 1px black;
      display: inline-block;
      margin: 0 0.5em;
      text-decoration: none;

      &:hover span {
        text-decoration: underline;
      }
    }

    img {
      width: 1.5em;
      height: 1.5em;
      vertical-align: middle;
    }

    span {
      margin-left: 0.2em;
    }
  }
}
