<div *ngIf="project !== undefined">
  <h1>{{project.game.displayName}}</h1>
  <div class="efd-gamezone">
    <div class="top-bar"></div>
    <div class="efd-game-wrapper" *ngIf="run !== undefined; else runOptionsTemplate">
      <efd-game [run]="run" [locale]="locale"></efd-game>
      <efd-print-console></efd-print-console>
    </div>
    <ng-template #runOptionsTemplate>
      <efd-run-options
        [modes]="project !== undefined ? project.game.modes : undefined"
        [profiles]="projectProfileKeys"
        [locales]="projectLocales"
        (efdSubmit)="onRunOptions($event)"
      >
      </efd-run-options>
    </ng-template>
    <div class="bottom-bar"></div>
  </div>
  <efd-console></efd-console>
</div>
