<form method="GET" (ngSubmit)="onSubmit($event)">
  <div *ngIf="modes !== undefined">
    <span>Mode de jeu</span>
    <ul>
      <li *ngFor="let modeItem of modes! | keyvalue">
        <label>
          <input type="radio" [(ngModel)]="modeKey" name="mode" [value]="modeItem.key"/>
          {{modeItem.key}} — {{modeItem.value.displayName}}
        </label>
      </li>
    </ul>
  </div>
  <div *ngIf="mode !== undefined">
    <span>Options</span>
    <ul>
      <li *ngFor="let optionItem of mode!.options | keyvalue">
        <label>
          <input type="checkbox" name="options[]" [value]="optionItem.key" (change)="onOptionChange($event)"/>
          {{optionItem.key}} — {{optionItem.value.displayName}}
        </label>
      </li>
    </ul>
  </div>
  <span>Paramètres</span>
  <ul>
    <li><label><input type="checkbox" [(ngModel)]="detail" name="details"/> Détails graphiques élevés</label></li>
    <li><label><input type="checkbox" [(ngModel)]="shake" name="shake"/> Vibrations fréquentes</label></li>
    <li><label><input type="checkbox" [(ngModel)]="sound" name="sound"/> Son</label></li>
    <li><label><input type="checkbox" [(ngModel)]="music" name="music"/> Musique</label></li>
  </ul>
  <span>Profil</span>
  <ul>
    <li *ngFor="let pKey of profiles">
      <label>
        <input type="radio" [(ngModel)]="profileKey" name="profile" [value]="pKey"/>
        {{pKey}}
      </label>
    </li>
    <li>
      <label>
        <input type="radio" [(ngModel)]="profileKey" name="profile" value="default"/>
        default
      </label>
    </li>
  </ul>
  <span>Locale</span>
  <ul>
    <li *ngFor="let l of locales">
      <label>
        <input type="radio" [(ngModel)]="locale" name="locale" [value]="l"/>
        {{l}}
      </label>
    </li>
  </ul>
  <input type="submit" value="Jouer" [disabled]="mode === undefined"/>
</form>
