<h1 i18n="Title of the login page@@auth/login.title">Login</h1>
<form
  ngNoForm
  action="/actions/login/eternaltwin"
  enctype="application/x-www-form-urlencoded"
  method="POST"
>
  <p i18n="Prompt for Hammerfest credentials@@auth/login.hfestCredentials.prompt">Eternalfest uses <a href="https://eternaltwin.org/">Eternaltwin</a> for authentication. Click on the button below to continue.</p>
  <div class="form-row">
    <input class="small" type="submit" i18n-value="Submit login form button@@auth/login.hfestCredentials.submit" value="Login with Eternaltwin"/>
  </div>
</form>
