$background-color: #e8b0b3;
$spacing: 10px;
$text-color: #8f201e;
$text-color-alt: #d9578d;

$game-bar-color-dark: #6a100e;
$game-bar-color-light: #a81e22;

.card {
  display: flow-root;
  background-color: $background-color;
  padding: $spacing;
  border-radius: $spacing;
}

p.game-title {
  text-align: right;
  font-size: 12pt;
  font-weight: bold;
  color: $text-color-alt;
  margin-bottom: 1em;
}

.desktop-app {
  $border-color: $game-bar-color-dark;
  padding: 10px 15px;
  background: $background-color;
  border: 1px solid $border-color;
  border-radius: 4px;
}

.top-bar, .bottom-bar {
  width: 420px;
  height: 10px;
  margin: auto;
  background-color: $game-bar-color-dark;
  background-image: repeating-linear-gradient(-66.67deg, transparent, transparent 0px, $game-bar-color-light 4px, $game-bar-color-light 4px, transparent 8px);
}

.top-bar {
  border-radius: 7px 7px 0 0;
}

.bottom-bar {
  border-radius: 0 0 7px 7px;
}

.game-zone {
  margin: 30px auto;
  
  // box-shadow: 0 0 5px black;
  // width: 420px;
  // border-radius: 7px;
}

ef-game {
  display: block;
  background-color: black;
  width: 420px;
  height: 520px;
  margin: auto;
}

dt {
  float: left;
  position: relative;
  width: 240px;
  height: 20px;
  padding-top: 3px;
  display: inline;
  margin-bottom: 8px;
  text-align: right;
}

dd {
  margin-left: 260px;
  margin-bottom: 8px;
  height: 23px;
  font-size: 12pt;
  font-weight: bold;
  color: $text-color-alt;
}

h2 {
  margin: 10px 0 5px 0;
  padding: 0;
  font-size: 16pt;
  font-weight: normal;
  text-align: right;
  border-bottom: solid 1px $text-color;
}

ef-quest {
  margin-bottom: 5px;
}

.item-unlock .icon {
  width: 30px;
  height: 30px;
  margin-right: 7px;
  margin-bottom: 5px;
  vertical-align: middle;
}
