@use "sass:map";
@use "header";
@use "../layout/dimensions";

@mixin ef-app-theme($theme) {
  $sky-top-color: map.get($theme, "sky-top-color");
  $sky-color: map.get($theme, "sky-color");
  $sky-top-height: map.get($theme, "sky-top-height");
  $sky-top-width: map.get($theme, "sky-top-width");
  $text-color: map.get($theme, "text-color");

  color: $text-color;

  background-color: $sky-color;
  background-image: url("../../static/assets/hfest/landscape-back-overlay.png"),
  linear-gradient($sky-top-color 0, $sky-color 100%),
  radial-gradient(circle at 131px 101px, white, rgba(255, 255, 255, 0.3) 3px, rgba(255, 255, 255, 0.1) 4px, transparent 6px),
  radial-gradient(circle at 73px 111px, white, rgba(255, 255, 255, 0.1) 1px, transparent 5px),
  radial-gradient(circle at 54px 58px, white, rgba(255, 255, 255, 0.1) 1px, transparent 5px),
  radial-gradient(circle at 230px 69px, white, rgba(255, 255, 255, 0.1) 1px, transparent 5px),
  radial-gradient(circle at 233px 127px, white, rgba(255, 255, 255, 0.1) 1px, transparent 5px),
  radial-gradient(circle at 245px 99px, white, rgba(255, 255, 255, 0.1) 1px, transparent 5px),
  linear-gradient($sky-top-color 0, $sky-color 100%);
  background-size: auto,
  dimensions.$site-width-with-margins $sky-top-height,
  $sky-top-width $sky-top-height,
  $sky-top-width $sky-top-height,
  $sky-top-width $sky-top-height,
  $sky-top-width $sky-top-height,
  $sky-top-width $sky-top-height,
  $sky-top-width $sky-top-height,
  $sky-top-width $sky-top-height;
  background-position: bottom center,
  top center,
  top center,
  top center,
  top center,
  top center,
  top center,
  top center,
  top center;
  background-repeat: repeat-x,
  no-repeat,
  repeat-x,
  repeat-x,
  repeat-x,
  repeat-x,
  repeat-x,
  repeat-x,
  repeat-x;
}

@mixin app-theme($theme) {
  $site-border-color: map.get($theme, "site-border-color");
  $site-bg-color: map.get($theme, "site-bg-color");
  $text-color: map.get($theme, "text-color");
  $img-landscape-front: map.get($theme, "img-landscape-front");
  $footer-recommendations-color: map.get($theme, "footer-recommendations-color");

  .content {
    border-left: 3px solid $site-border-color;
    border-right: 3px solid $site-border-color;
    background-color: $site-bg-color;

    strong {
      font-weight: bold;
    }

    h1 {
      margin: 0 0 5px 0;
      padding: 0;
      font-size: 18pt;
      font-weight: normal;
      text-align: right;
      border-bottom: solid 1px $text-color;
    }

    nav.main-nav {
      width: 32px;
      height: 100px;
      position: absolute;
      top: 33px;
      left: 20px;
    }

    form.logout input, a.settings {
      display: inline-block;
      border: none;
      margin: 0;
      padding: 0;
      width: 32px;
      height: 32px;
      color: transparent;
      cursor: pointer;
      background-repeat: no-repeat;
    }

    a.settings {
      background: url("../../static/assets/icon_account.png");
    }

    form.logout input {
      background: url("../../static/assets/icon_logout.png");
    }
  }

  footer {
    & > div {
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
    }

    .img-front {
      background-image: url($img-landscape-front);
      background-position: center;
    }

    .img-back {
      height: 100%;
      width: dimensions.$site-width;
      margin: auto;
      border-left: 3px solid $site-border-color;
      border-right: 3px solid $site-border-color;
      background-color: $site-bg-color;
    }

    .wrapper {
      margin: auto;
      margin-top: 50px;
      width: dimensions.$site-width;
      text-align: center;
    }

    .recommendations {
      a {
        color: $footer-recommendations-color;
      }
    }
  }

  @include header.header-theme($theme);
}
