@use "sass:map";
@use "../layout/dimensions";
@use "../layout/header";

@use "sass:math";

header.$main-bar-width: 586px;
header.$main-bar-height: 22px;
header.$bar-stripes-angle: -66.67deg;
header.$bar-stripes-offset: 4px;
header.$bar-stripes-width: 4px;
header.$bar-anti-aliasing-width: 4px;

header.$border-width: 3px;

dimensions.$site-width-with-margins: 762px;
dimensions.$site-width: 636px;
header.$site-margin-x: math.div(dimensions.$site-width-with-margins - dimensions.$site-width, 2);
header.$site-margin-top: 24px;

header.$header-width: dimensions.$site-width;
header.$header-height: 178px;

@mixin header-theme($theme) {
  header {
    $site-border-color: map.get($theme, "site-border-color");
    $site-bg-color: map.get($theme, "site-bg-color");
    $text-color: map.get($theme, "text-color");
    $header-rays-color: map.get($theme, "header-rays-color");
    $bar-color-light: map.get($theme, "bar-color-light");
    $bar-color-dark: map.get($theme, "bar-color-dark");
    $button-bg-color: map.get($theme, "button-bg-color");
    $button-text-color: map.get($theme, "button-text-color");
    $button-action-bg-color: map.get($theme, "button-action-bg-color");
    $img-header-snow: map.get($theme, "img-header-snow");
    $img-header-left: map.get($theme, "img-header-left");
    $img-header-right: map.get($theme, "img-header-right");
    $img-header-expansion-dimensions: map.get($theme, "img-header-expansion-dimensions");
    $img-header-title: map.get($theme, "img-header-title");

    border-top: header.$border-width solid $site-border-color;
    border-left: header.$border-width solid $site-border-color;
    border-right: header.$border-width solid $site-border-color;
    background-color: $site-bg-color;

    .img-title {
      background-image: url($img-header-title);
    }

    .img-rays {
      svg {
        #header-rays {
          fill: $header-rays-color;
        }
      }

      .grad {
        background-image: linear-gradient(transparent 74px, $site-bg-color 124px);
        background-size: 100% header.$header-height;
        background-position: bottom center;
        background-repeat: repeat-x;
      }
    }

    .img-main-bar {
      background-color: $bar-color-light;
      background-image: repeating-linear-gradient(
          header.$bar-stripes-angle,
          transparent,
          transparent header.$bar-stripes-width - header.$bar-anti-aliasing-width,
          $bar-color-dark header.$bar-stripes-width,
          $bar-color-dark 2 * header.$bar-stripes-width - header.$bar-anti-aliasing-width,
          transparent 2 * header.$bar-stripes-width
      );
    }

    .img-snow {
      @if $img-header-snow != null {
        display: initial;
        background-image: url($img-header-snow);
      } @else {
        display: none;
        background-image: none;
      }
    }

    .img-left {
      @if $img-header-left != null {
        display: initial;
        background-image: url($img-header-left);
      } @else {
        display: none;
        background-image: none;
      }
    }

    .img-right {
      @if $img-header-right != null {
        display: initial;
        background-image: url($img-header-right);
      } @else {
        display: none;
        background-image: none;
      }
    }

    .img-expansion-dimensions {
      background-image: url($img-header-expansion-dimensions);
    }

    .main-bar {
      a {
        color: $button-text-color;

        &.button {
          background-color: $button-bg-color;
          border: solid 1px $text-color;

          &:hover {
            background: $button-action-bg-color;
          }
        }
      }
    }
  }
}
