@use "sass:math";
@use "hfest";

$theme-xmas: (
  "sky-color": #3a366f,
  "sky-top-color": #26264d,
  "sky-top-height": 202px,
  "sky-top-width": 262px,
  "img-landscape-front": "../../static/assets/themes/ef/landscape-front.png",
  // Left and right borders of the whole website
  "site-border-color": #c52f36,
  "site-bg-color": #ebd9e6,
  "text-color": #8f201e,
  // Color of the rays in the header
  "header-rays-color": rgba(221, 34, 47, 0.3),
  "img-header-snow": "../../static/assets/themes/hfest/header-snow.png",
  "img-header-left": "../../static/assets/themes/xmas/header-tuber.png",
  "img-header-right": "../../static/assets/themes/hfest/header-igor.png",
  "img-header-expansion-dimensions": "../../static/assets/themes/xmas/header-expansion-dimensions.xmas.png",
  "img-header-title": "../../static/assets/themes/hfest/header-title.png",
  // Color of the stripes of the main bar
  "bar-color-dark": hsl(357, 55%, 62%),
  "bar-color-light": hsl(357, 55%, 68%),
  "button-bg-color": #b4b4b4,
  "button-text-color": #ffffff,
  "button-action-bg-color": #9b9b9b,
  "input-border-color": hsl(357, 55%, 68%),
  "input-text-color": hsl(357, 55%, 62%),
  "form-button-bg-color": hsl(357, 61%, 71%),
  "footer-recommendations-color": white,
);

@keyframes snowwind {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 32px 0;
  }
}

@keyframes snowfall {
  from {
    transform: translateY(-16px) rotate(0deg);
  }

  to {
    transform: translateY(1000px) rotate(720deg);
  }
}

@keyframes snowfade {
  from {
    opacity: 0.7;
  }

  60% {
    opacity: 0.7;
  }

  to {
    opacity: 0;
  }
}

$xmas-snow-duration: 30s;

.snow {
  display: none;
  position: absolute;
  pointer-events: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  & > div {
    width: 48px;
    height: 48px;
    background-image: url("../../static/assets/themes/xmas/snowflake.svg");
    background-repeat: no-repeat;
    position: absolute;
    animation-timing-function: linear, ease-in-out, ease-out;
    animation-duration: $xmas-snow-duration, 4s, $xmas-snow-duration;
    animation-name: snowfall, snowwind, snowfade;
    animation-iteration-count: infinite, infinite, infinite;
    animation-direction: normal, alternate, normal;

    @for $i from 1 through 100 {
      &:nth-child(#{$i}) {
        left: math.random() * 100%;
        animation-delay: -$xmas-snow-duration * math.random();
      }
    }
  }
}

.theme-xmas.theme-xmas-snow .snow {
  display: block;
}

#toggle-snow {
  position: absolute;
  top: 2px;
  right: 25px;
  padding: 0;
  margin: 0;
  width: 16px;
  height: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  color: transparent;
  background: url("../../static/assets/themes/xmas/snowflake.svg") no-repeat;
  display: none;
}

.theme-xmas #toggle-snow {
  display: block;
}
