@if (data$ | async; as data) {
  <h1><strong>{{ data.game.displayName }}</strong></h1>
  <nav class="game-tabs">
    <a class="blurred" [routerLink]="['/games', data.game.id]" i18n="Tab to the game main page@@games/game.tab">Game</a>
    <a [routerLink]="['/games', data.game.id, 'leaderboard']" i18n="Tab to the game main page@@games/leaderboard.tab">Leaderboard</a>
    @if (isAuthenticated$ | async) {
      <a class="blurred" [routerLink]="['/games', data.game.id, 'profile', 'items']"
      i18n="Tab to the user's items for a game@@games/profile.items.tab">My items</a>
      @if (data.game.hasQuests) {
        <a class="blurred" [routerLink]="['/games', data.game.id, 'profile', 'quests']"
        i18n="Tab to the user's quests for a game@@games/profile.quests.tab">My quests</a>
      }
    }
  </nav>
  <table>
    <thead>
      <tr>
        <th colspan="2" i18n="Head of the pseudo column of leaderboard@@games/leaderboard-pseudo.column">Pseudo</th>
        <th i18n="Head of the score column of leaderboard@@games/leaderboard-score.column">Score</th>
        <th i18n="Head of the reached level column of leaderboard@@games/leaderboard-reached-level.column">Level</th>
        <th i18n="Head of the run options column of leaderboard@@games/leaderboard-run-options.column">Options</th>
      </tr>
    </thead>
    <tbody>
      @for (entry of data.leaderboard.results; track entry; let i = $index) {
        <tr>
          <td style="border-right: none">{{ i + 1 }}.</td>
          <td style="border-left: none"><a [routerLink]="['/users', entry!.user!.id]">{{ entry!.user!.displayName }}</a>
        </td>
        <td><a [routerLink]="['/runs', entry!.run!.id]">{{ entry!.score }}</a></td>
        <td>{{ entry!.run!.maxLevel }}</td>
        <td>{{ entry!.run!.gameOptions }}</td>
      </tr>
    }
  </tbody>
</table>
} @else {
  <div i18n="Loading leaderboard info message@@games/leaderboard.loading">Loading...</div>
}
