@use "sass:color";
@use "sass:math";

$background-color: #e8b0b3;
$icon-size: 100px;
$spacing: 10px;
$text-color: #8f201e;
$text-color-alt: #d9578d;
$border-color: #6a100e;

.card {
  background-color: $background-color;
  padding: $spacing;
  border-radius: $spacing;
}

.details {
  img {
    float: left;
    width: $icon-size;
    height: $icon-size;
    border-radius: math.div($spacing, 2);
  }

  .right {
    margin-left: $icon-size + $spacing;
  }

  dl {
    margin-top: $spacing;
    display: table;
    padding: $spacing;

    &> div {
      display: table-row;
    }

    dt {
      display: table-cell;
      padding: math.div($spacing, 2);
      text-align: right;
      font-weight: bold;
    }
  
    dd {
      display: table-cell;
      padding-left: math.div($spacing, 2);
      font-size: 12pt;
      font-weight: bold;
      color: $text-color-alt;
    }
  }

}

h2 {
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 12pt;
  font-weight: normal;
  text-align: right;
  border-bottom: solid 1px $text-color;
}

.run-form {
  display: flex;
  margin-left: -$spacing;

  .card {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: $spacing;
    margin-left: $spacing;

    .spanner {
      flex: 999999;
    }
  }

  .no-options {
    font-style: italic;
    margin: 7px;
  }

  .modes label {
    display: block;
    padding: 3px 6px 5px 6px;
    border-radius: 5px;
    text-align: right;

    &:hover {
      background-color: color.adjust($background-color, $lightness: -6%);
    }

    &.selected {
      background-color: color.adjust($background-color, $lightness: -12%);
      font-weight: bold;
    }

    input[type=radio] {
      display: none;
    }
  }
}
