@if (data$ | async; as data) {
  <div>
    <h1>
      <strong>{{data.game.displayName}}</strong>
    </h1>
    <nav class="game-tabs">
      <a class="blurred" [routerLink]="['/games', data.game.id]" i18n="Tab to the game main page@@games/game.tab">Game</a>
      <a class="blurred" [routerLink]="['/games', data.game.id, 'leaderboard']"
      i18n="Tab to the game main page@@games/leaderboard.tab">Leaderboard</a>
      <a class="blurred" [routerLink]="['/games', data.game.id, 'profile', 'items']"
      i18n="Tab to the user's items for a game@@games/profile.items.tab">My items</a>
      <a [routerLink]="['/games', data.game.id, 'profile', 'quests']"
      i18n="Tab to the user's quests for a game@@games/profile.quests.tab">My quests</a>
    </nav>
    @for (q of data.quests; track q.quest.id) {
      <ef-quest [quest]="q.quest" [state]="q.state" [profile]="data.profile"></ef-quest>
    } @empty {
      <div class="no-quests" i18n="@@games/quest.noQuests">No quests in progress</div>
    }
  </div>
} @else {
  <div i18n="Loading profile info message@@games/profile.loading">Loading...</div>
}
