<h1 i18n="Title of the games list page@@games/game-list.title">Games</h1>
@if (isAuthenticated$ | async) {
  <a [routerLink]="['', 'games']" [queryParams]="{favorite: true}" i18n="Link to the favorite games@@games/game-list.favorite">My favorite games</a>
}
@if (games$ | async; as games) {
  <ul>
    @for (game of games.items; track game) {
      <li>
        <ef-game-list-item [game]="game"></ef-game-list-item>
      </li>
    }
  </ul>
  <ef-game-pagination [offset]="games.offset" [limit]="games.limit" [count]="games.count"></ef-game-pagination>
}
