@if (game !== null) {
  <a [routerLink]="['/games', game.id]" [queryParams]="{channel: game.channel}">
    <img
      src="{{game.icon | gameIconUri}}"
      [alt]="game.displayName"
      />
    <span class="details">
      <span class="version">
        @if (game.private) {
          <ng-container i18n="Private indicator in game list@@games/game-list-item.private">[Private]</ng-container>
        }
        {{game.version}}
      </span>
      <span class="name">{{game.displayName}}</span>
      <span class="description">{{game.description}}</span>
    </span>
  </a>
} @else {
  <ng-container i18n="Game list tombstone due to permission change@@games/game-list-item.tombstone">
    Game permissions changed
  </ng-container>
}
<ng-template #tombstone>
  <ng-container i18n="Game list tombstone due to permission change@@games/game-list-item.tombstone">
    Game permissions changed
  </ng-container>
</ng-template>
