@if (game !== undefined) {
  <div xmlns="http://www.w3.org/1999/html">
    <h1>
      <strong>{{game.displayName}}</strong>
    </h1>
    <nav class="game-tabs">
      <a [routerLink]="['/games', game.id]" i18n="Tab to the game main page@@games/game.tab">Game</a>
      <a class="blurred" [routerLink]="['/games', game.id, 'leaderboard']" i18n="Tab to the game leaderboard@@games/leaderboard.tab">Leaderboard</a>
      @if (isAuthenticated$ | async) {
        <a class="blurred" [routerLink]="['/games', game.id, 'profile', 'items']"
        i18n="Tab to the user's items for a game@@games/profile.items.tab">My items</a>
        @if (game.hasQuests) {
          <a class="blurred" [routerLink]="['/games', game.id, 'profile', 'quests']"
          i18n="Tab to the user's quests for a game@@games/profile.quests.tab">My quests</a>
        }
      }
    </nav>
    <div class="details card">
      <img
        src="{{game.icon | gameIconUri}}"
        [alt]="game.displayName"
        />
      <div class="right">
        <p class="description">{{game.description}}</p>
        <dl>
          <div>
            <dt i18n="@@games/game.author">Owner:</dt>
            <dd>{{game.owner.displayName}}</dd>
          </div>
          <div>
            <dt i18n="@@games/game.publicationDate">Publication date:</dt>
            <dd>
              @if (game.publicationDate !== null) {
                {{game.publicationDate | date}}
              } @else {
                No publication date
              }
            </dd>
          </div>
        </dl>
        @if (favorite) {
          @if (isAuthenticated$ | async) {
            <form method="POST" (ngSubmit)="removeFavorite($event)">
              <input class="small" type="submit" value="Remove from Favorites" i18n-value="@@games/game.removeFromFavorite">
            </form>
          }
        } @else {
          @if (isAuthenticated$ | async) {
            <form method="POST" (ngSubmit)="addFavorite($event)">
              <input class="small" type="submit" value="Add to Favorites" i18n-value="@@games/game.addToFavorite">
            </form>
          }
        }
      </div>
    </div>
    <form class="run-form" method="POST" (ngSubmit)="onSubmit($event)">
      <div>
        <div class="card modes">
          <h2 i18n="@@games/game.modesTitle">Game mode</h2>
          <ul>
            @for (gmode of game.modes; track gmode) {
              <li>
                <label [class.selected]="gmode === gameMode">
                  <input type="radio" [(ngModel)]="gameMode" name="game_mode" [value]="gmode"/>
                  <ef-game-mode-name [mode]="gmode.displayName"></ef-game-mode-name>
                </label>
              </li>
            }
          </ul>
        </div>
        <div class="card settings">
          <h2 i18n="@@games/game.settingsTitle">Settings</h2>
          <ul>
            <li>
              <label><input type="checkbox" [(ngModel)]="detail" name="detail"/>
                <ng-container i18n="@@games/game.settings.detail">High quality graphics</ng-container>
              </label>
            </li>
            <li>
              <label><input type="checkbox" [(ngModel)]="shake" name="shake"/>
                <ng-container i18n="@@games/game.settings.shake">Frequent vibrations</ng-container>
              </label>
            </li>
            <li>
              <label><input type="checkbox" [(ngModel)]="sound" name="sound"/>
                <ng-container i18n="@@games/game.settings.sound">Sound</ng-container>
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" [(ngModel)]="music" name="music"/>
                <ng-container i18n="@@games/game.settings.music">Music</ng-container>
              </label>
            </li>
          </ul>
        </div>
      </div>
      @if (gameMode !== undefined) {
        <div class="card options">
          <h2><strong><ef-game-mode-name [mode]="gameMode.displayName"></ef-game-mode-name></strong> - <ng-container i18n="@@games/game.optionsTitle">Options</ng-container></h2>
          <ul>
            @for (opt of gameMode.options.checkbox; track opt; let i = $index) {
              <li>
                <label (change)="onOptionChange($event)">
                  <input type="checkbox" [name]="i" [disabled]="opt.disabled" [checked]="opt.checked"/>
                  <ef-game-option-name [option]="opt.displayName"></ef-game-option-name>
                </label>
              </li>
            }
            @for (opt of gameMode.options.dropdown; track opt; let i = $index) {
              <li>
                <select (change)="onOptionChange($event)" [name]="i">
                  @for (choice of opt.choices; track choice) {
                    <option [value]="choice.key" [disabled]="choice.disabled" [selected]="opt.selected === choice.key">{{choice.displayName}}</option>
                  }
                </select>
              </li>
            }
            @if (gameMode.options.checkbox.length === 0 && gameMode.options.dropdown.length === 0) {
              <li class="no-options" i18n="@@games/game.noOptions">No options available</li>
            }
          </ul>
          <div class="spanner"></div>
          @if (isAuthenticated$ | async) {
            <input class="small" type="submit" value="Play" i18n-value="@@games/game.play">
          }
        </div>
      } @else {
        <div class="card options"></div>
      }
    </form>
  </div>
} @else {
  <div i18n="Loading game info message@@games/game.loading">Loading...</div>
}
<ng-template #loading>
  <div i18n="Loading game info message@@games/game.loading">Loading...</div>
</ng-template>
