<table>
  <thead>
    <tr>
      <th colspan="3">
        <span class="status">
          @switch(state) {
            @case ("started") {
              <ng-container i18n="Status message for started quests@@games/quest.status.started">Started</ng-container>
            }
            @case ("partial") {
              <ng-container i18n="Status message for in-progress quests@@games/quest.status.partial">In progress</ng-container>
            }
            @case ("completed") {
              <ng-container i18n="Status message for completed quests@@games/quest.status.completed">Complete</ng-container>
            }
          }
        </span>
        <span class="name">{{quest.displayName}}</span>
        @if (state === "completed") {
          <p class="description">{{quest.description}}</p>
        }
      </th>
    </tr>
  </thead>
  <tbody>
    @for (r of quest.require; track r.item) {
      <tr>
        <td class="icon">
          @if (r.item.iconUri !== null) {
            <img [src]="r.item.iconUri" />
          }
        </td>
        <td class="count">{{displayCount(r)}} / {{r.qty}}</td>
        <td class="name">{{r.item.displayName}}</td>
      </tr>
    }
  </tbody>
</table>
