:host {
  display: block;
}

thead th {
  span, p {
    display: block;
    text-align: left;
    padding: 5px;
  }

  .name {
    font-size: 1.2em;
    font-weight: bold;
  }

  .status {
    float: right;
    font-weight: bold;
  }
}

td.icon, td.count {
  width: 15%;
}
