<dl>
  <div>
    <dt i18n="Server name of the Hammerfest identity in the user's profile@@users/hfest.server">Server</dt>
    <dd><a href="{{'root' | hfestUri:identity.server}}">{{'host' | hfestUri:identity.server}}</a></dd>
  </div>
  <div>
    <dt i18n="Username of the Hammerfest identity in the user's profile@@users/hfest.login">Username</dt>
    <dd><a href="{{'public-profile' | hfestUri:identity.server:identity.hfestId}}">{{identity.username}}</a></dd>
  </div>
  <div>
    <dt i18n="Best score of the Hammerfest identity in the user's profile@@users/hfest.bestScore">Best score</dt>
    <dd>{{identity.bestScore | score}}</dd>
  </div>
  <div>
    <dt i18n="Best level of the Hammerfest identity in the user's profile@@users/hfest.bestLevel">Best level</dt>
    <dd>{{identity.bestLevel}}</dd>
  </div>
</dl>
@if (identity.items !== undefined) {
  <ol class="items">
    @for (item of itemsDb; track item) {
      <li>
        <ef-user-item
          [id]="item.id"
          [count]="identity.items!.has(item.id) ? identity.items!.get(item.id)!.count : 0"
          [max-count]="0"
          >
        </ef-user-item>
      </li>
    }
  </ol>
}
