@if (data$ | async; as data) {
  <h1 i18n="Title of the user profile's page@@users/user.title"><strong>{{ data.user.displayName }}</strong>'s profile</h1>
  <p>The profile page has moved to <a [href]="'https://eternaltwin.org/users/' + data.user.id">Eternaltwin</a>.</p>
  <ul>
    @for (identity of data.user.identities; track identity) {
      <li class="identity">
        @if (identity.type === IdentityType.Hfest) {
          <div>
            <ef-user-hfest-identity [identity]="identity"></ef-user-hfest-identity>
          </div>
        }
      </li>
    }
  </ul>
} @else {
  <div>
    <div i18n="Loading user profile message@@users/user.loading">Loading...</div>
  </div>
}
