.main-nav {
  .game-hfest {
    background-image: url("../static/assets/theme-ef/icon_hfest.png");
    background-repeat: no-repeat;
    display: block;
    width: 83px;
    height: 85px;
    margin-left: -53px;
    margin-bottom: 30px;
    color: transparent;

    &:hover {
      background-image: url("../static/assets/theme-ef/icon_hfest_on.png");
    }
  }

  .games {
    background-image: url("../static/assets/theme-ef/icon_efest.png");
    background-repeat: no-repeat;
    display: block;
    width: 92px;
    height: 83px;
    margin-left: -53px;
    margin-bottom: 20px;
    color: transparent;

    &:hover {
      background-image: url("../static/assets/theme-ef/icon_efest_on.png");
    }
  }
}
